<!-- <div class="container">
  <div class="h1">My App {{ title }}</div>
  <div class="btn btn-primary">Click</div>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ipsam
    nam nostrum ab praesentium assumenda, minus itaque rem officiis, maiores
    possimus quia doloribus facilis magnam id labore, iste in soluta quas eos
    incidunt! Provident minus atque, vitae doloremque enim recusandae quasi
    libero excepturi modi, nulla consequuntur maiores officiis porro architecto.
    Corporis, unde? Deleniti architecto voluptas non!
  </p>
</div> -->

<div>
  <!-- <h1>{{ title }}</h1> -->

  <!-- NavBar Here... -->
  <section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Todos List</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <!-- My Components here -->
  <div class="container">
    <app-todos></app-todos>
  </div>
</div>
